alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
awscli==1.16.33
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.3
botocore==1.12.23
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.1
cycler==0.10.0
decorator==4.3.0
docutils==0.14
flake8==3.5.0
flatbuffers==1.10
funcsigs==1.0.2
html5lib==1.0.1
idna==2.7
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.0
matplotlib==3.0.0
mccabe==0.6.1
more-itertools==4.3.0
numpy==1.15.2
packaging==18.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.7.1
prompt-toolkit==2.0.6
ptyprocess==0.6.0
py==1.7.0
pyasn1==0.4.4
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
python-dotenv==0.9.1
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.2
redis==2.10.6
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.13
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
